<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../resources/css/contact.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/img/favicon-16x16.png">
    <meta name="theme-color" content="#0000">
    <title>Contactenos | Life Hoot</title>
</head>
<body>
    <header>
        <div class="container-logo-studio">
            <span class="img-logo-studio">
                <img src="../img/LOGO_01.png" alt="logo-studio">
            </span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html"> Inicio </a></li>
            <li><a href="we.html"> Nosotros </a></li>
            <li><a href="installations.html"> Instalaciones </a></li>
            <li><a href="work.html"> Trabaja con Nosotros </a></li>
            <li><a href="contact.html"> Contactenos </a></li>
        </ul>
    </nav>
    <main>
        <section class="img-logo-studio">
            <div class="container-img-studio-contact">
                <div class="title-contact">
                    <h2>Life Hoot</h2>
                </div>
                <div class="text-contact">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sint 
                        cumque aliquam illum, tempora aut enim, ipsum libero minus quos nesciunt 
                        veniam quod mollitia veritatis natus modi dolor illo in!
                    </p>
                </div>
            </div>
        </section>
        <section class="form-contact">
            <div class="container-form-contact">
                <div class="title-form-contact">
                    <h2>Contáctenos</h2>
                </div>
                <form action="">
                    <fieldset>
                        <legend> Envianos tu mensaje </legend>
                        <label for="contact-name">Nombres:</label>
                        <input type="text" placeholder="Ingrese su nombre">
                        <label for="contact-email">Correo Electronico:</label>
                        <input type="email" placeholder="Ej: email@email.com">
                        <label for="contact-city">Ciudad:</label>
                        <input type="text" placeholder="Ciudad de Residencia">
                        <label for="contact-recomendation">¿Como te enteraste de nostros?:</label>
                        <select name="multiple-recomendation" id="">
                            <option value="0">Seleccione una opción:</option>
                            <option value="1">Redes Sociales</option>
                            <option value="2">Recomendación</option>
                            <option value="3">Otro:</option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <section class="logo-studio">
            <div class="container-logo-studio">
                <img src="../img/vector_logo.png" alt="logo-studio">
            </div>
        </section>
        <section class="social-media">
            <div class="title-social-media">
                <h3>Redes Sociales</h3>
            </div>
            <div class="items-social.media">
                <span class="logo-tw">
                    <img src="../img/twitter.png" alt="logo-tw">
                </span>
                <a href="#" target="_blank">Twitter</a><br>
                <span class="logo-insta">
                    <img src="../img/instagram.png" alt="logo-insta">
                </span>
                <a href="#" target="_blank">Instagram</a><br>
                <span class="logo-tk">
                    <img src="../img/tiktok.png" alt="logo_tk">
                </span>
                <a href="#" target="_blank">Tik Tok</a>
            </div>
        </section>
        <section class="info">
            <div class="container-info">
                <div class="title-info">
                    <h3>Más Información</h3>
                </div>
            </div>
            <div class="list-items-info">
                <span class="logo-email">
                    <img src="../img/email.png" alt="logo-email-info">
                </span>
                <p>Correo Electronico: lifehoot.info.js@gmail.com</p>
                <span class="logo-tel">
                    <img src="../img/phone.png" alt="logo-tel-info">
                </span>
                <p>Telefono: (+57) 3227008702</p>
            </div>
        </section>
        <section class="end">
            <div class="container-end">
                <p>Todos los derechos reservados &copy; 2021</p>
                <p>Life Hoot Studio´s</p>
            </div>
        </section>
    </footer>
</body>
</html>