<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../resources/css/installations.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/img/favicon-16x16.png">
    <meta name="theme-color" content="#0000">
    <title>Instalaciones | Life Hoot</title>
</head>
<body>
    <header>
        <div class="container-logo-studio">
            <span class="img-logo-studio">
                <img src="#" alt="logo-studio">
            </span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html"> Inicio </a></li>
            <li><a href="we.html"> Nosotros </a></li>
            <li><a href="installations.html"> Instalaciones </a></li>
            <li><a href="work.html"> Trabaja con Nosotros </a></li>
            <li><a href="contact.html"> Contactenos </a></li>
        </ul>
    </nav>
    <main>
        <section>

        </section>

    </main>
</body>
</html>