<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../resources/css/installations.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/img/favicon-16x16.png">
    <meta name="theme-color" content="#0000">
    <title>Instalaciones | Life Hoot</title>
</head>
<body>
    <header>
        <div class="container-logo-studio">
            <span class="img-logo-studio">
                <img src="../img/LOGO_01.png" alt="logo-studio">
            </span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html"> Inicio </a></li>
            <li><a href="we.html"> Nosotros </a></li>
            <li><a href="installations.html"> Instalaciones </a></li>
            <li><a href="work.html"> Trabaja con Nosotros </a></li>
            <li><a href="contact.html"> Contactenos </a></li>
        </ul>
    </nav>
    <main>
        <section class="motivation-installations">
            <div class="container-model-installation">
                <div class="img-model-installation">
                    <img src="../img/woman01.jpg" alt="model-installation">
                    <span>"Frase Motivación"</span>
                </div>
            </div>
        </section>
        <section class="scroll-img-rooms">
            <div class="container-img-rooms">
                <div class="title-img-rooms">
                    <h2>Instalaciones</h2>
                </div>
                <div class="scroll-img-cuartos">
                    <div class="container-item1">
                        <div class="habitacion-1">
                            <img src="../img/room1.jpg" alt="habitacion1">
                        </div>
                    </div>
                    <div class="container-item2">
                        <div class="habitacion-2">
                            <img src="../img/room2.jfif" alt="habitacion2">
                        </div>
                    </div>
                    <div class="container-item3">
                        <div class="habitacion-3">
                            <img src="../img/room3.jpg" alt="habitacion3">
                        </div>
                    </div>
                    <div class="container-item4">
                        <div class="habitacion-4">
                            <img src="../img/room1.jpg" alt="habitacion4">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="galery">
            <div class="galery-models">
                <div class="title-galery-models">
                    <h2>Galería</h2>
                </div>
                <div class="content-scroll-galery-models">
                    <div class="container-item-galery1">
                        <div class="model-1">
                            <img src="../img/woman01.jpg" alt="model-1">
                        </div>
                    </div>
                    <div class="container-item-galery2">
                        <div class="model-2">
                            <img src="../img/woman02.jpg" alt="model-2">
                        </div>
                    </div>
                    <div class="container-item-galery3">
                        <div class="model-3">
                            <img src="../img/woman01.jpg" alt="model-3">
                        </div>
                    </div>
                    <div class="container-item-galery4">
                        <div class="model-4">
                            <img src="../img/woman02.jpg" alt="model-4">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="questions">
            <div class="container-questions">
                <div class="title-questions">
                    <h2>Preguntas Frecuentes</h2>
                </div>
                <div class="content-questions">
                    <div class="questions-one">
                        <div class="title-question-one">
                            <h3>Title</h3>
                        </div>
                        <div class="content-question-one">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur asperiores, 
                            soluta tenetur officiis labore ad deserunt nihil tempore, cumque repudiandae eius 
                            dolore adipisci. Odit, magni! Exercitationem nisi ullam odio modi!
                        </div>
                    </div>
                    <div class="questions-two">
                        <div class="title-question-two">
                            <h3>Title</h3>
                        </div>
                        <div class="content-question-two">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur asperiores, 
                            soluta tenetur officiis labore ad deserunt nihil tempore, cumque repudiandae eius 
                            dolore adipisci. Odit, magni! Exercitationem nisi ullam odio modi!
                        </div>
                    </div>
                    <div class="questions-three">
                        <div class="title-question-three">
                            <h3>Title</h3>
                        </div>
                        <div class="content-question-three">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur asperiores, 
                            soluta tenetur officiis labore ad deserunt nihil tempore, cumque repudiandae eius 
                            dolore adipisci. Odit, magni! Exercitationem nisi ullam odio modi!
                        </div>
                    </div>
                    <div class="questions-four">
                        <div class="title-question-four">
                            <h3>Title</h3>
                        </div>
                        <div class="content-question-four">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur asperiores, 
                            soluta tenetur officiis labore ad deserunt nihil tempore, cumque repudiandae eius 
                            dolore adipisci. Odit, magni! Exercitationem nisi ullam odio modi!
                        </div>
                    </div>
                    <div class="questions-five">
                        <div class="title-question-five">
                            <h3>Title</h3>
                        </div>
                        <div class="content-question-five">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur asperiores, 
                            soluta tenetur officiis labore ad deserunt nihil tempore, cumque repudiandae eius 
                            dolore adipisci. Odit, magni! Exercitationem nisi ullam odio modi!
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="logo-studio">
            <div class="container-logo-studio">
                <img src="../img/vector_logo.png" alt="logo-studio">
            </div>
        </section>
        <section class="social-media">
            <div class="title-social-media">
                <h3>Redes Sociales</h3>
            </div>
            <div class="items-social.media">
                <span class="logo-tw">
                    <img src="../img/twitter.png" alt="logo-tw">
                </span>
                <a href="#" target="_blank">Twitter</a><br>
                <span class="logo-insta">
                    <img src="../img/instagram.png" alt="logo-insta">
                </span>
                <a href="#" target="_blank">Instagram</a><br>
                <span class="logo-tk">
                    <img src="../img/tiktok.png" alt="logo_tk">
                </span>
                <a href="#" target="_blank">Tik Tok</a>
            </div>
        </section>
        <section class="info">
            <div class="container-info">
                <div class="title-info">
                    <h3>Más Información</h3>
                </div>
            </div>
            <div class="list-items-info">
                <span class="logo-email">
                    <img src="../img/email.png" alt="logo-email-info">
                </span>
                <p>Correo Electronico: lifehoot.info.js@gmail.com</p>
                <span class="logo-tel">
                    <img src="../img/phone.png" alt="logo-tel-info">
                </span>
                <p>Telefono: (+57) 3227008702</p>
            </div>
        </section>
        <section class="end">
            <div class="container-end">
                <p>Todos los derechos reservados &copy; 2021</p>
                <p>Life Hoot Studio´s</p>
            </div>
        </section>
    </footer>
</body>
</html>