<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/img/favicon-16x16.png">
    <meta name="theme-color" content="#0000">
    <title>Nosotros | Life Hoot</title>
</head>
<body>
    <header>
        <div class="container-logo-studio">
            <span class="img-logo-studio">
                <img src="#" alt="logo-studio">
            </span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html"> Inicio </a></li>
            <li><a href="we.html"> Nosotros </a></li>
            <li><a href="installations.html"> Instalaciones </a></li>
            <li><a href="work.html"> Trabaja con Nosotros </a></li>
            <li><a href="contact.html"> Contactenos </a></li>
        </ul>
    </nav>
    <main>
        <section class="img-model-index">
            <div class="container-img-model">
                <img src="#" alt="models">
                <span><p>"Frase Motivacion"</p></span>
            </div>
        </section>
        <section class="quienes-somos">
            <div class="container-quienes-somos">
                <div class="title-quienes">
                    <h2>¿Quienes Somos?</h2>
                </div>
                <div class="txt-quienes">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odio asperiores quisquam vel corporis quaerat blanditiis commodi 
                        nulla dolores ratione ab maxime veniam deserunt, est sed natus, 
                        mollitia quis unde. Atque!
                    </p>
                </div>
            </div>
            <div class="container-mision">
                <div class="title-mision">
                    <h2>Misión</h2>
                </div>
                <div class="txt-mision">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                         Optio eius, exercitationem illum iste esse illo ipsa! Nulla 
                         beatae molestias dolores. Veritatis dolore ipsam hic laborum ad
                         adipisci sit sed cumque?
                    </p>
                </div>
            </div>
            <div class="container-vision">
                <div class="title-vision">
                    <h2>Visión</h2>
                </div>
                <div class="txt-vision">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Ut maxime consectetur facilis minima ex, aut repudiandae 
                         quaerat nisi enim. 
                         Autem ea vel possimus neque quia at quo consequatur animi nihil.
                    </p>
                </div>
            </div>
        </section>
        <section class="equipo-trabajo">
            <div class="container-equipo-trabajo">
                <div class="title-equipo-trabajo">
                    <h2>Equipo de Trabajo</h2>
                </div>
                <div class="items-equipo-trabajo">
                    <div class="container-item1-equipo-trabajo">
                        <div class="title-item1">
                            <h3>Item1</h3>
                        </div>
                        <div class="img-item1">
                            <img src="#" alt="img-item1" sizes="#" srcset="#">
                        </div>
                        <div class="txt-item-1">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur 
                                similique impedit tempora earum! Expedita maxime id quod delectus, ab 
                                quis facere reiciendis odio obcaecati iusto? Numquam voluptatem ullam 
                                dicta laboriosam.
                            </p>
                        </div>
                    </div>
                    <div class="container-item2-equipo-trabajo">
                        <div class="title-item2">
                            <h3>Item2</h3>
                        </div>
                        <div class="img-item2">
                            <img src="#" alt="img-item2" sizes="#" srcset="#">
                        </div>
                        <div class="txt-item-2">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam 
                                explicabo esse laborum, voluptas alias vitae voluptates quae. Animi 
                                illum reprehenderit voluptate tempore? Praesentium dicta aspernatur 
                                laboriosam consectetur ipsum ad vero?
                            </p>
                        </div>
                    </div>
                    <div class="container-item3-equipo-trabajo">
                        <div class="title-item3">
                            <h3>Item3</h3>
                        </div>
                        <div class="img-item3">
                            <img src="#" alt="img-item3" sizes="#" srcset="#">
                        </div>
                        <div class="txt-item3">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dicta 
                                sunt dolores sed! Rem commodi obcaecati nemo facilis iusto, maxime eius 
                                eligendi quidem officiis totam enim temporibus iure, magni assumenda?
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="logo-studio">
            <div class="container-logo-studio">
                <img src="#" alt="logo-studio">
            </div>
        </section>
        <section class="social-media">
            <div class="title-social-media">
                <h3>Redes Sociales</h3>
            </div>
            <div class="items-social.media">
                <span class="logo-tw">
                    <img src="#" alt="logo-fb">
                </span>
                <a href="#" target="_blank">Twitter</a><br>
                <span class="logo-insta">
                    <img src="#" alt="logo-insta">
                </span>
                <a href="#" target="_blank">Instagram</a><br>
                <span class="logo-tk">
                    <img src="#" alt="logo_tk">
                </span>
                <a href="#" target="_blank">Tik Tok</a>
            </div>
        </section>
        <section class="info">
            <div class="container-info">
                <div class="title-info">
                    <h3>Más Información</h3>
                </div>
            </div>
            <div class="list-items-info">
                <span class="logo-email">
                    <img src="#" alt="logo-email-info">
                </span>
                <p>Correo Electronico: lifehoot.info.js@gmail.com</p>
                <span class="logo-tel">
                    <img src="#" alt="logo-tel-info">
                </span>
                <p>Telefono: (+57) 3227008702</p>
            </div>
        </section>
        <section class="end">
            <div class="container-end">
                <p>Todos los derechos reservados &copy; 2021</p>
                <p>Life Hoot Studio´s</p>
            </div>
        </section>
    </footer>
</body>
</html>