<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../resources/css/work.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/img/favicon-16x16.png">
    <meta name="theme-color" content="#0000">
    <title>Trabaja con Nosotros | Life Hoot</title>
</head>
<body>
    <header>
        <div class="container-logo-studio">
            <span class="img-logo-studio">
                <img src="../img/LOGO_01.png" alt="logo-studio">
            </span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html"> Inicio </a></li>
            <li><a href="we.html"> Nosotros </a></li>
            <li><a href="installations.html"> Instalaciones </a></li>
            <li><a href="work.html"> Trabaja con Nosotros </a></li>
            <li><a href="contact.html"> Contactenos </a></li>
        </ul>
    </nav>
    <main>
        <section class="work">
            <div class="container-work-us">
                <div class="title-wotk-us">
                    <h2>Trabaja con Nosotros</h2>
                </div>
                <div class="text-work-us">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Odio assumenda vitae cum itaque ipsum
                    </p>
                </div>
                <div class="container-requirements">
                    <div class="title-requeriments">
                        <h3>Requerimientos</h3>
                    </div>
                    <div class="requeriments-items">
                        <div class="requeriment-item-one">
                            <div class="title-requeriment-one">
                                <h4>Requerimiento 1</h4>
                            </div>
                            <div class="text-requeriment-one">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis 
                                    cumque natus nam fuga necessitatibus, deserunt quos facere architecto
                                    enim laudantium illum quo ipsum nisi autem minima delectus temporibus 
                                    quasi molestiae!
                                </p>
                            </div>
                        </div>
                        <div class="requeriment-item-two">
                            <div class="title-requeriment-two">
                                <h4>Requerimiento 2</h4>
                            </div>
                            <div class="text-requeriment-two">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis 
                                    cumque natus nam fuga necessitatibus, deserunt quos facere architecto
                                    enim laudantium illum quo ipsum nisi autem minima delectus temporibus 
                                    quasi molestiae!
                                </p>
                            </div>
                        </div>
                        <div class="requeriment-item-three">
                            <div class="title-requeriment-three">
                                <h4>Requerimiento 3</h4>
                            </div>
                            <div class="text-requeriment-three">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis 
                                    cumque natus nam fuga necessitatibus, deserunt quos facere architecto
                                    enim laudantium illum quo ipsum nisi autem minima delectus temporibus 
                                    quasi molestiae!
                                </p>
                            </div>
                        </div>
                        <div class="requeriment-item-four">
                            <div class="title-requeriment-four">
                                <h4>Requerimiento 4</h4>
                            </div>
                            <div class="text-requeriment-four">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis 
                                    cumque natus nam fuga necessitatibus, deserunt quos facere architecto
                                    enim laudantium illum quo ipsum nisi autem minima delectus temporibus 
                                    quasi molestiae!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="logo-studio">
            <div class="container-logo-studio">
                <img src="../img/vector_logo.png" alt="logo-studio">
            </div>
        </section>
        <section class="social-media">
            <div class="title-social-media">
                <h3>Redes Sociales</h3>
            </div>
            <div class="items-social.media">
                <span class="logo-tw">
                    <img src="../img/twitter.png" alt="logo-tw">
                </span>
                <a href="#" target="_blank">Twitter</a><br>
                <span class="logo-insta">
                    <img src="../img/instagram.png" alt="logo-insta">
                </span>
                <a href="#" target="_blank">Instagram</a><br>
                <span class="logo-tk">
                    <img src="../img/tiktok.png" alt="logo_tk">
                </span>
                <a href="#" target="_blank">Tik Tok</a>
            </div>
        </section>
        <section class="info">
            <div class="container-info">
                <div class="title-info">
                    <h3>Más Información</h3>
                </div>
            </div>
            <div class="list-items-info">
                <span class="logo-email">
                    <img src="../img/email.png" alt="logo-email-info">
                </span>
                <p>Correo Electronico: lifehoot.info.js@gmail.com</p>
                <span class="logo-tel">
                    <img src="../img/phone.png" alt="logo-tel-info">
                </span>
                <p>Telefono: (+57) 3106016263 </p>
            </div>
        </section>
        <section class="end">
            <div class="container-end">
                <p>Todos los derechos reservados &copy; 2021</p>
                <p>Life Hoot Studio´s</p>
            </div>
        </section>
    </footer>
</body>
</html>