/*---------------------GENERAL ELEMENTS----------------------*/

h1,
h2,
p,
ul{
    margin: 0;
}











/*----------------------------HEADER------------------------------*/

header{
    width: 100%;
    height: 25vh;
    background-image: url(../img/background-conatiner-quienes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-logo-studio{
    width: 7.8%;
    height: inherit;
    display: inline-block;
    position: absolute;
        
}

.img-logo-studio img{
    max-width: 100%;
    margin-top: 25%;
    margin-left: 55%;
    filter: drop-shadow(-2px 3px 8px #37009c);
}

.container-elements-head{
    width: inherit;
    height: 100%;
    display: inline-block;
}

.head-title,
.reference-page{
    color: #fff;
}

.head-title h1{
    text-align: center;
    padding-top: 2%;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    text-shadow: -4px 4px 2px #000, -3px -3px 3px #000, 3px 5px 4px #000;
}

.reference-page p{
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4rem;
    margin-top: -3.5%;
    margin-left: 77.8%;
}

/*---------------------NAVBAR------------------------------*/

.nav-content{
    --color-text:#000;
    --bg-color: #fff;
    width: 100%;
    height: 5.5vh;
    position: sticky;
    top: 0;
    background-color:var(--bg-color);
    z-index: 1;
}

.nav-list-items{
    padding: .65% 0 0 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.nav-item{
    display: inline-block;
    margin-left: 12.7%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

.nav-item a:link{
    color:var(--color-text);
    text-decoration: none;
}

.nav-item a:visited{
    color:var(--color-text);
}

/*----------------------MAIN------------------------------*/

/*SECTION-IMAGE-MODEL*/

.img-model-index{
    --color-text: #fff;
    --bg-border: #000;
    height: 80vh;
    width: 100%;
}

.container-img-model{
    height: 100%;
    width: 100%;
    background-image: url(../img/woman01.jpg);
    background-size: cover;
}

.text-model-index{
    width: 80%;
    position: relative;
    height: 5vh;
    background-color: #00000055;
    border: .5px solid var(--bg-border);
    border-radius: 22px 1.5px;
    text-align: center;
    top: 49.5%;
    margin-left: auto;
    margin-right: auto;
}

.text-model-index p{
    padding-top: .5%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: var(--color-text);
}

/*SECTION-WHO-WE-ARE*/

.who-we-are{
    --color-text:#fff;
    width: 100%;
    height: 50vh;
    margin-top: 2px;
    margin-bottom: 2px;
    background-image: url(../img/background-conatiner-quienes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-who-we-are{
    width: inherit;
    height: inherit;
    color: var(--color-text);
    margin-top: .5%;
}

.content-who-we-are{
    position: relative;
    border: 1px solid #fff;
    width: 40vw;
    height: 40vh;
    top: 10%;
    margin-left: 6%;
    outline: 1px solid #fff;
    outline-offset: 3.5px;
}

.title-we-are{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4rem;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.txt-we-are{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.6rem;
    text-align: justify;
    padding: 5px;
}

.contain-image-compain{
    position: absolute;
    height: 40vh;
    width: 40vw;
    margin-top: -16.2%;
    margin-left: 52%;
    background-color:#fff;
    border: 1px solid #000;
    outline: 1px solid #fff;
    outline-offset: 3.5px;
}

/*SECTION-SCROLL-IMG-MODELS*/

.scroll-img-models{
    width: 100%;
    height: 39vh;
}

.container-scroll-img-models{
    width: inherit;
    height: inherit;
}

.img-slide-wrap{
    height: 30vh;
    width: 22vw;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1.7rem;
    padding: 2px;
    border: 1px solid #949494;
    outline: 1px solid #000;
    outline-offset: 3.5px;
}

.img-model-one{
    height: 100%;
    width: 100%;
    background-image: url(../img/woman01.jpg);
    background-size: cover;
}

.img-model-two{
    height: 100%;
    width: 100%;
    background-image: url(../img/woman02.jpg);
    background-size: cover;
}

.img-model-three{
    height: 100%;
    width: 100%;
    background-image: url(../img/woman01.jpg);
    background-size: cover;
}

.img-model-four{
    height: 100%;
    width: 100%;
    background-image: url(../img/woman02.jpg);
    background-size: cover;
}

.buttons{
    margin-top: 8px;
    text-align: center;
}

.btn-one,
.btn-two,
.btn-three,
.btn-four{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
}


/*SECTION-BENEFICIOS*/

.beneficios{
    height: 80vh;
    width: 100%;
    background-image: url(../img/background-conatiner-quienes.jpg);
    background-size: cover;
}

.container-beneficios{
    height: 100%;
    width: 100%;
}

.title-beneficios{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #fff;
}

.title-beneficios h2{
    padding: 8px;
}

.list-beneficios{
    height: 100%;
    width: 100%;
}